<h1 {{action "wasClicked" "Heading"}}>Restaurant:</h1>
<p>
 {{restaurant.name}} has been open for {{restaurant.yearsOpen}} years running on your empty wallet
</p>
<button {{action "wasClicked" "Button"}}>Click me!</button>
<ul>
  {{#each foods as |food|}}
    {{#if food.isAvailable}}
      <li>On the menu {{food.name}}!</li>
    {{else}}
      <li class="not-available">
        <s>{{food.name}}</s>
      </li>
    {{/if}}
  {{/each}}
</ul>
<hr>
{{input value=restaurant.name}}
