<h1>Restaurant:</h1>
<ul>
  {{#each model as |chef|}}
    {{#if chef.isAvailable}}
      <li>
        On the menu {{chef.name}}!
        <button {{action 'makeUnavailable' chef}}>Make Unavailable</button>
      </li>
    {{else}}
      <li class="not-available">
        <s>{{chef.name}}</s>
        <button {{action 'makeAvailable' chef}}>Make Available</button>
      </li>
    {{/if}}
  {{/each}}
</ul>
