<h1>Chefs</h1>

<ul>
  {{#each chefs as |chef|}}
    {{#if chef.isAvailable}}
      <li>Chef {{chef.name}} is here.</li>
    {{else}}
      <li>
        <s>{{chef.name}}</s>
      </li>
    {{/if}}
  {{/each}}
</ul>


{{!-- <h1>Restaurant:</h1>
<p>
 {{restaurant.name}} has been open for {{restaurant.yearsOpen}} years running on your empty wallet
</p>

<ul>
  {{#each foods as |food|}}
    {{#if food.isAvailable}}
      <li>On the menu {{food.name}}!</li>
    {{else}}
      <li>
        <s>{{food.name}}</s>
      </li>
    {{/if}}
  {{/each}}
</ul>
<hr>
{{input value=restaurant.name}} --}}
